body{
    height: 100vh;
    display: grid;
    place-content: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(icons.img/—Pngtree—nature\ forest\ sun\ ecology_2394782.jpg);
   
}
img{
    width: 30px;
}
.cont{
    width: 300px;
    height: 400px;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 80px auto;
    background-color:transparent ;
    justify-items: center;
    border-radius: 20px;
    box-shadow: 3px 5px 3px rgba(0,0,0,0.5);
    border: 2px solid white;
   
}
.head{
    background-color: rgb(82, 184, 82);
    color: white;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 12px 12px 0px 0px;
}
.input{
    width: 100%;
   
   
    
}
.email{
    width: 100%;
     border: 2px solid rgb(90, 90, 228);
    
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 15px;
}
.email input{
    width: 100%;
    padding: 10px;
    font-weight: bold;
    margin-left: 30px;
    border: none;
    outline: none;  
}
 .img{
    position: absolute;
    right: auto;
    background-color: rgb(30, 195, 30);
    color: white;
}
.password{
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    border: 2px solid rgb(58, 58, 208);

}
.password input{
    width: 100%;
    padding: 10px;
    margin-left: 30px;
    border: none;
    outline: none;
}
.photo{
    position: absolute;
    background-color: rgb(30, 195, 30);
}
.input > p a{
     margin-left: 10px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    transition:font-size 1s;
}
.btn{
    text-align: center;
}
.btn button{
    border:none;
    width: 100%;
    padding:10px ;
    border: 1px outset white;
    background-color: transparent;
    box-shadow:3px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 24px;
    transition: opacity 200ms;
    color: black; 
}
.signup{
    display: flex;
    width: 100%;
     justify-content: center;
}
.input >p a:hover{
    text-decoration: underline;
    font-size: 1.2em;
}
.btn button:hover{
    opacity: 0.5;
}
.btn button:active{
    background: linear-gradient(45dgr, red,pink,blue,gold,green);
    color: white;
}

